@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../imgs/bg-repeat.jpg);
    background-size: contain;
}

.sobre{
    width: 300px;
    color: #FFFFFF;
    margin-right: 60px;
    font-weight: 400;
    font-size: 1.5rem;
}

.sobre .titulo{
    font-weight: 900;
    font-size: 2.0rem;
    margin-bottom: 11px;
}

.formulario {
    padding: 20px;
    background-color: #FFFFFF;
    width: 340px;
    min-height: 378px;
}

.formulario input{
    width: 100%;
}

.formulario input, .formulario textarea{
    border-radius: 5px;
    border: solid 1px;
}

.formulario input::placeholder, .formulario textarea::placeholder{
    padding-left: 10px;
    color: #A8A8A8;
    font-weight: 700;
    font-size: 1.5rem;
}

.formulario input:nth-child(n+1):nth-child(-n+5){
    height: 35px;
}

.formulario textarea{
    width: 100%;
    resize: none;
    height: 100px;
}

.formulario textarea::placeholder{
    padding-top: 4px;
}

.formulario p:nth-last-child(2){
    font-weight: 400;
    font-size: 1.5rem;
    translate: -5px;
}

.formulario input:last-child{
    font-weight: 700;
    font-size: 1.5rem;
    color: #FFFFFF;
    background-color: #3CCC87;
    border: none;
    height: 40px;
    margin-top: 11px;
}

.formulario .campo-obrigatorio{
    color: #F52E2E;
    font-size: 0.8rem;
    margin-bottom: 15px;
}

.formulario .campo-obrigatorio:nth-last-of-type(1){
    margin-bottom: 5px;
}